<%= simple_form_for(@article, url: @article.new_record? ? admin_articles_path : admin_article_path(@article), html: {class: "form-horizontal" }, defaults: { label_html: { class: 'col-sm-2' }, bootstrap_wrapper_html: { class: 'col-sm-8' } }) do |f| %>
<% @article.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
<%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
<%= f.input :title, label: '名称' %>
<%= f.input :content, label: '详情', as: :kindeditor, input_html: {window_onload: true, filterMode: false} %>
<%= f.input :cover, label: '图片' %>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.button :submit, "保存", class: "btn-primary" %>
  </div>
</div>
<% end %>