<div class="main">
  <div class="lbt"><%= image_tag 'toutu.jpg' %></div>
  <div class="banner">
    <a class="chanpin" href='<%= categories_path %>'><span>产品<br><%= image_tag 'd1.png' %></span></a>
    <a class="mendian"><span>门店<br><%= image_tag 'd2.png' %></span></a>
    <a class="jinjia"><span>金价<br><%= image_tag 'd3.png' %></span></a>
    <a class="gongsi"><span>公司<br><%= image_tag 'd4.png' %></span></a>
  </div>
</div>
<div class="logo"><%= image_tag 'logo.png' %></div>
