<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6"><h3 class="text-center">店面区域管理</h3></div>
  <div class="col-xs-3">
    <%= link_to '添加', new_admin_area_path, class: 'pull-right btn btn-warning', style: "margin-top: 10px;" %>
  </div>
  <div class="col-xs-12">
    <% if @areas.present? %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>地区</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @areas.each do |area| %>
        <tr>
          <td><%= area.name %></td>
          <td>
            <%= link_to '编辑', edit_admin_area_path(area), class: "btn btn-default" %>
            <%= link_to '删除', admin_area_path(area), method: :delete, data: { confirm: '确定删除吗?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @areas %>
    <% else %>
    <div>
      暂无内容
    </div>
    <% end %>
  </div>
</div>