<div class="main main2">
  <div class="header"><a href='javascript:void(0);' onclick="history.go(-1);">上一页</a><span>门店</span><a href="/">首页</a></div>
  <ul class="cplb cplb2">
    <% @areas.each_with_index do |area, index| %>
    <li <% if index + 1 == @areas.length %>class="last"<% end %>><a href="javascript: void(0);" onclick="showMenu(<%= index %>);"><%= area.name %></a><ul id="menu<%= index %>" style="display: none;"><% area.children.each do |child| %><li><a href='/areas/<%= child.id %>'><%= child.name %></a></li><% end %></ul></li>
    <% end %>
  </ul>
</div>
<% content_for :script do %>
<script type="text/javascript">
  function showMenu(index){
    $('#menu' + index).toggle();
  }
</script>
<% end %>