<div class="header"><a href='javascript:void(0);' onclick="history.go(-1);">上一页</a><span>门店</span><a href="/">首页</a></div>
<div class="main2">
  <div class="chanpinliebiao chanpinliebiao2">
    <% @areas.each_with_index do |area, index| %>
    <ul>
      <li><a href="javascript: void(0);" onclick='$("#cover<%= index %>").show();'><%= image_tag 'weizhi.png' %><br><%= area.name %></a></li>
    </ul>
    <% end %>
  </div>
  <% @areas.each_with_index do |area, index| %>
  <div class="tanchufuceng" style="display: none;" id="cover<%= index %>">
    <ul>
      <li class="title"><%= area.name %></li>
      <% area.children.each do |child| %>
      <li><a href='/areas/<%= child.id %>'>•&nbsp;<%= child.name %></a></li>
      <% end %>
      <li><a class="closed" onclick='$("#cover<%= index %>").hide();'></a></li>
    </ul>
  </div>
  <% end %>
</div>